In [69]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_selection import f_regression, SelectKBest
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.feature_selection import RFECV
from sklearn.preprocessing import PolynomialFeatures
import warnings
import category_encoders as ce
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.exceptions import DataConversionWarning
from sklearn.preprocessing import StandardScaler
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import mutual_info_regression,f_classif
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
import lightgbm as lgb

pd.options.display.max_columns = 100

In [70]:
train_features = pd.read_csv('train_features.csv')
test_features = pd.read_csv('test_features.csv')
train_labels = pd.read_csv('train_labels.csv')
sample_submission = pd.read_csv('sample_submission.csv')

train_features.shape, test_features.shape, train_labels.shape, sample_submission.shape

((59400, 40), (14358, 40), (59400, 2), (14358, 2))

In [71]:
train = train_features.copy()

In [72]:
year_mean = train[train['construction_year']>0]['construction_year'].mean()
year_mean = round(year_mean)

test_year_mean = test_features[test_features['construction_year']>0]['construction_year'].mean()
test_year_mean = round(test_year_mean)


train.loc[train['construction_year']==0, 'construction_year'] = int(year_mean)
test_features.loc[test_features['construction_year']==0,'construction_year'] = int(test_year_mean)

In [107]:
import random

def random_std(year):

    return year - random.randint(-10,10)

def random_tsh(amount):

    return amount + random.uniform(-1062.35, 1957.82)

In [109]:
random_tsh(200)

56.4787020157396

In [93]:
train_tsh_mean = train[train['amount_tsh']>0]['amount_tsh'].mean()
test_tsh_mean = test_features[test_features['amount_tsh']>0]['amount_tsh'].mean()

train.loc[train['amount_tsh']==0,'amount_tsh']=float(train_tsh_mean)
test_features.loc[test_features['amount_tsh']==0,'amount_tsh']=float(test_tsh_mean)

In [110]:
# train.loc[train['construction_year']==1997,'construction_year'].apply(random_std(),axis=1)
# test_features.loc[test_features['construction_year']==1997,'construction_year'].apply(random_std(),axis=1)
# train.loc[train['amount_tsh']==train_tsh_mean, 'amount_tsh'].apply(random_tsh(),axis=1)
# test_features.loc[test_features['amount_tsh']==test_tsh_mean, 'amount_tsh'].apply(random_tsh(),axis=1)

# train.shape, test_features.shape

In [120]:
train.loc[train['construction_year']==1997,'construction_year'].apply(random_std)
test_features.loc[test_features['construction_year']==1997,'construction_year'].transform(random_std)
train.loc[train['amount_tsh']==train_tsh_mean, 'amount_tsh'].transform(random_tsh)
test_features.loc[test_features['amount_tsh']==test_tsh_mean, 'amount_tsh'].transform(random_tsh)

train.shape, test_features.shape

((59400, 40), (14358, 40))

In [79]:
train.describe(exclude=np.number)

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,recorded_by,scheme_management,scheme_name,permit,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
count,59400,55765,55745,59400,59400,59029,59400,59400,59400,56066,59400,55523,31234,56344,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400
unique,356,1897,2145,37400,9,19287,21,125,2092,2,1,12,2696,2,18,13,7,12,5,7,7,8,6,5,5,10,7,3,7,6
top,2011-03-15,Government Of Tanzania,DWE,none,Lake Victoria,Madukani,Iringa,Njombe,Igosi,True,GeoData Consultants Ltd,VWC,K,True,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
freq,572,9084,17402,3563,10248,508,5294,2503,307,51011,59400,36793,682,38852,26780,26780,26780,40507,52490,25348,25348,50818,50818,33186,33186,17021,17021,45794,28522,34625

In [122]:
train['construction_year'].value_counts()

1997    21353
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

In [24]:
train['funder'].fillna('?',inplace=True)
train['installer'].fillna('?',inplace=True)
train['subvillage'].fillna('?',inplace=True)
train['public_meeting'].fillna('?',inplace=True)
train['scheme_management'].fillna('?',inplace=True)
train['scheme_name'].fillna('?',inplace=True)
train['permit'].fillna('?',inplace=True)
test_features['funder'].fillna('?',inplace=True)
test_features['installer'].fillna('?',inplace=True)
test_features['subvillage'].fillna('?',inplace=True)
test_features['public_meeting'].fillna('?',inplace=True)
test_features['scheme_management'].fillna('?',inplace=True)
test_features['scheme_name'].fillna('?',inplace=True)
test_features['permit'].fillna('?',inplace=True)

In [25]:
train['age'] = (2019 - train['construction_year']).astype(int)
test_features['age'] = (2019 - test_features['construction_year']).astype(int)

In [26]:
train_days_since = np.array(train['date_recorded'].values, dtype='datetime64')
test_days_since = np.array(test_features['date_recorded'].values,dtype='datetime64')

train_birth = train['construction_year'].astype(str)
test_birth = test_features['construction_year'].astype(str)

In [27]:
train_years_since = np.datetime_as_string(train_days_since, unit='Y')
test_years_since = np.datetime_as_string(test_days_since, unit='Y')

In [28]:
train_years_since = train_years_since.astype(int)
test_years_since = test_years_since.astype(int)
train_birth = train_birth.astype(int)
test_birth = test_birth.astype(int)

in_train_years = []
in_test_years = []

for i in range(0,len(train_years_since)):
    x = train_years_since[i] - train_birth[i]
    in_train_years.append(x)
    

for i in range(0,len(test_years_since)):
    x = test_years_since[i] - test_birth[i]
    in_test_years.append(x)

In [29]:
train['years_until_record'] = in_train_years
test_features['years_until_record'] = in_test_years

In [30]:
drop_these=[
    'date_recorded',
    'wpt_name',
    'recorded_by',
    'lga',
    'ward',
    'scheme_name', 
    'scheme_management',
    'funder',
    'installer',
    'num_private',
    'subvillage',
    'basin',
    'longitude',
    'latitude',
    'waterpoint_type_group',
    'extraction_type_group',
    'extraction_type_class',
    'management_group', 
]
train.drop(columns=drop_these,inplace=True)
test_features.drop(columns=drop_these,inplace=True)

train.shape, test_features.shape

((59400, 23), (14358, 23))

In [37]:
str_cols = train.select_dtypes(include=[object])

In [40]:
hashing = ce.HashingEncoder(
    cols = list(str_cols.columns),
    verbose=1,
    drop_invariant=True,
    return_df=True,
)

train_features = hashing.fit_transform(train)
test_features = hashing.fit_transform(test_features)

train_features.shape, test_features.shape

((59400, 17), (14358, 17))

In [41]:
train_features

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,id,amount_tsh,gps_height,region_code,district_code,population,construction_year,age,years_until_record
0,3,0,0,2,3,0,4,2,69572,6000.000000,1390,11,5,109,1999,20,12
1,4,0,2,1,3,2,2,0,8776,1062.351942,1399,20,2,280,2010,9,3
2,6,1,0,0,3,1,3,0,34310,25.000000,686,21,4,250,2009,10,4
3,7,0,0,2,4,0,1,0,67743,1062.351942,263,90,63,58,1986,33,27
4,4,0,2,3,3,1,0,1,19728,1062.351942,0,18,1,0,1997,22,14
5,3,1,1,2,2,0,3,2,9944,20.000000,0,4,8,1,2009,10,2
6,4,0,0,3,4,0,3,0,19816,1062.351942,0,17,3,0,1997,22,15
7,0,0,2,2,3,2,3,2,54551,1062.351942,0,17,3,0,1997,22,15
8,3,0,0,7,3,0,0,1,53934,1062.351942,0,14,6,0,1997,22,15
9,4,0,0,2,3,0,3,2,46144,1062.351942,0,18,1,0,1997,22,14
10,3,0,0,4,3,0,2,2,49056,1062.351942,62,60,43,345,2011,8,0
11,1,0,0,3,5,0,3,2,50409,200.000000,1062,10,5,250,1987,32,26
12,1,0,0,2,4,0,3,4,36957,1062.351942,0,17,2,0,1997,22,15
13,3,1,0,2,4,0,4,0,50495,1062.351942,1368,3,7,1,2009,10,4
14,3,0,0,2,4,0,3,2,53752,1062.351942,0,17,6,0,1997,22,15
15,4,0,0,3,4,0,3,0,61848,1062.351942,1645,15,2,200,1991,28,20
16,4,1,2,1,5,1,0,0,48451,500.000000,1703,11,4,35,1978,41,33
17,4,0,2,2,5,1,0,0,58155,1062.351942,1656,11,4,50,1978,41,33
18,3,0,0,1,1,3,4,2,34169,1062.351942,1162,19,1,1000,1999,20,12
19,3,0,0,2,3,0,4,2,18274,500.000000,1763,11,5,1,1992,27,19
20,3,1,0,2,4,0,4,0,48375,200.000000,2216,11,4,4,2008,11,3
21,0,0,6,2,2,1,1,2,6091,1062.351942,0,17,1,0,1997,22,16
22,4,0,2,1,4,1,2,0,58500,1062.351942,1510,11,4,350,1978,41,33
23,3,1,1,1,5,1,2,0,37862,500.000000,672,3,3,210,2011,8,2
24,3,0,3,1,3,0,4,0,51058,1062.351942,1645,16,3,156,2009,10,4
25,3,0,2,2,3,0,4,0,22308,1062.351942,1273,3,4,140,1974,45,39
26,2,1,0,3,5,0,2,1,55012,500.000000,200,80,23,260,2011,8,2
27,4,0,0,2,3,0,3,2,20145,1062.351942,0,18,1,0,1997,22,14
28,2,1,1,2,4,0,4,0,19685,1062.351942,1443,3,1,1,2000,19,13
29,3,1,0,2,4,0,4,0,69124,1062.351942,1256,3,7,1,2002,17,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59370,0,1,7,0,3,0,0,3,14796,200.000000,1154,16,2,1,1997,22,16
59371,3,0,0,2,4,0,3,2,20387,1062.351942,0,17,2,0,1997,22,15
59372,1,1,0,3,2,0,2,5,29940,1062.351942,0,14,4,0,1997,22,15
59373,2,0,0,3,4,0,2,3,15233,5000.000000,1137,15,1,96,1988,31,25
59374,1,0,0,2,4,0,3,4,49651,1062.351942,0,17,1,0,1997,22,15
59375,3,1,1,1,5,1,2,0,50998,40000.000000,54,4,4,609,2005,14,6
59376,3,0,4,1,1,1,0,4,34716,1062.351942,1581,13,2,1,1990,29,23
59377,7,0,0,0,3,1,3,0,43986,1062.351942,0,14,2,0,1997,22,15
59378,2,1,1,2,4,0,4,0,38067,500.000000,2101,11,4,36,2008,11,3
59379,5,0,0,2,3,0,4,0,58255,1062.351942,0,18,3,0,1997,22,14
59380,5,0,0,2,3,0,2,2,30647,6000.000000,1439,11,5,50,1999,20,12
59381,5,0,0,2,3,0,4,0,67885,1062.351942,0,4,8,360,1992,27,19
59382,4,1,0,2,3,0,4,0,47002,6.000000,1383,3,4,1,2008,11,5
59383,2,0,4,1,3,1,3,0,44616,1062.351942,11,80,62,800,2008,11,5
59384,5,0,0,2,3,0,4,0,72148,1062.351942,0,18,30,0,1997,22,14
59385,1,1,0,5,5,0,2,0,34473,500.000000,1327,20,4,200,2011,8,1
59386,4,0,0,3,4,0,2,1,34952,1062.351942,1786,15,2,1000,2009,10,2
59387,3,1,1,3,3,1,2,0,26640,100.000000,25,7,2,100,2000,19,13
59388,3,0,3,1,3,0,4,0,72559,1062.351942,1414,16,1,500,1995,24,18
59389,4,0,0,3,4,0,2,1,30410,1062.351942,783,15,3,1500,2009,10,2
59390,4,0,0,3,4,0,3,0,13677,1062.351942,1715,15,2,150,1991,28,20
59391,5,0,1,1,4,1,2,0,44885,1062.351942,540,3,3,210,1967,52,46
59392,5,0,0,2,3,0,4,0,40607,1062.351942,0,12,1,0,1997,22,14
59393,5,1,0,0,3,1,2,2,48348,1062.351942,0,14,2,0,1997,22,15
59394,3,1,0,3,5,0,2,0,11164,500.000000,351,5,6,89,2007,12,4
59395,4,1,0,2,3,0,4,0,60739,10.000000,1210,3,5,125,1999,20,14
59396,3,0,1,1,4,1,2,2,27263,4700.000000,1212,11,4,56,1996,23,15
59397,1,3,0,3,4,0,3,0,37057,1062.351942,0,12,7,0,1997,22,14
59398,4,0,0,2,3,0,3,2,31282,1062.351942,0,1,4,0,1997,22,14
59399,1,0,0,5,3,0,3,2,26348,1062.351942,191,5,2,150,2002,17,9